In [2]:
import datetime

In [3]:
dt1 = datetime.date(2019 , 10 , 23)

In [4]:
dt2 = datetime.date(2019 , 10 , 24)

In [6]:
print(dt2 - dt1)

1 day, 0:00:00

In [7]:
dlt = datetime.timedelta(5)

In [8]:
dt1 + dlt

datetime.date(2019, 10, 28)

In [9]:
dlt1 = datetime.timedelta(5,10)

In [10]:
dt1 + dlt1

datetime.date(2019, 10, 28)

In [21]:
dt1.ctime()

'Wed Oct 23 00:00:00 2019'

In [23]:
dt1.max

datetime.date(9999, 12, 31)

In [29]:
tm2 = datetime.time(13 , 34 , 56)

In [31]:
dt1 - dt2

datetime.timedelta(days=-1)

In [32]:
tm1

datetime.time(12, 34, 45)

In [33]:
tm2

datetime.time(13, 34, 56)

In [37]:
dtime = datetime.datetime(2010 , 4 , 3 , 12 , 3 )

In [49]:
dtime.replace(second=30)

datetime.datetime(2010, 4, 3, 12, 3, 30)

In [50]:
dtime

datetime.datetime(2010, 4, 3, 12, 3)

In [51]:
dtime1 = dtime.replace(second=12)

In [52]:
dtime1 - dtime

datetime.timedelta(seconds=12)

https://www.programiz.com/python-programming/datetime

In [11]:
date_object = datetime.date.today()
print(date_object)

2020-03-18

In [17]:
d = datetime.date(2019, 4, 13)
print(d)
print(d.day)
print(d.month)
print(d.year)

2019-04-13
13
4
2019

In [14]:
#timestamp is unix specific
timestamp = datetime.date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-11

In [19]:
tm = datetime.time
a = tm()
print("a =", a)

a = 00:00:00

In [21]:
# time(hour, minute and second)
b = tm(11, 34, 56)
print("b =", b)

b = 11:34:56

In [22]:
# time(hour, minute and second)
c = tm(hour = 11, minute = 34, second = 56)
print("c =", c)

c = 11:34:56

In [23]:
# time(hour, minute, second, microsecond)
d = tm(11, 34, 56, 234566)
print("d =", d)

d = 11:34:56.234566

In [24]:
from datetime import datetime

#datetime(year, month, day)
a = datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

In [25]:
from datetime import datetime

a = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511893559.34238

In [26]:
from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [27]:
from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [28]:
#Negative timedelta
from datetime import timedelta

t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1 - t2

print("t3 =", t3)
print("t3 =", abs(t3))

t3 = -1 day, 23:59:39
t3 = 0:00:21

In [29]:
#total time in seconds
from datetime import timedelta

t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("total seconds =", t.total_seconds())

total seconds = 435633.233423

In [30]:
#format Datetime using strftime
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 20:34:38
s1: 03/18/2020, 20:34:38
s2: 18/03/2020, 20:34:38

In [31]:
# strptime opposite to strftime, creates date object from string
from datetime import datetime

date_string = "21 June, 2018"
print("date_string =", date_string)

date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00

In [33]:
# handling timezone
from datetime import datetime
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 03/18/2020, 20:37:00
NY: 03/18/2020, 11:07:00
London: 03/18/2020, 15:07:00

# python strftime reference
https://strftime.org/

# python doc strftime
https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [35]:
# Timedelta function demonstration 
# https://www.geeksforgeeks.org/python-datetime-timedelta-function/
from datetime import datetime, timedelta 


# Using current time 
ini_time_for_now = datetime.now() 

# printing initial_date 
print ("initial_date", str(ini_time_for_now)) 

# Calculating future dates 
# for two years 
future_date_after_2yrs = ini_time_for_now + timedelta(days = 730) 

future_date_after_2days = ini_time_for_now + timedelta(days = 2) 

# printing calculated future_dates 
print('future_date_after_2yrs:', str(future_date_after_2yrs)) 
print('future_date_after_2days:', str(future_date_after_2days))

initial_date 2020-03-18 20:42:05.848629
future_date_after_2yrs: 2022-03-18 20:42:05.848629
future_date_after_2days: 2020-03-20 20:42:05.848629

In [36]:
# Timedelta function demonstration 
# https://www.geeksforgeeks.org/python-datetime-timedelta-function/
from datetime import datetime, timedelta 


# Using current time 
ini_time_for_now = datetime.now() 

# printing initial_date 
print ("initial_date", str(ini_time_for_now)) 

# Calculating past dates 
# for two years 
past_date_before_2yrs = ini_time_for_now - timedelta(days = 730) 

# for two hours 
past_date_before_2hours = ini_time_for_now - timedelta(hours = 2) 


# printing calculated past_dates 
print('past_date_before_2yrs:', str(past_date_before_2yrs)) 
print('past_date_after_2days:', str(past_date_before_2hours))

initial_date 2020-03-18 20:43:53.342718
past_date_before_2yrs: 2018-03-19 20:43:53.342718
past_date_after_2days: 2020-03-18 18:43:53.342718

In [37]:
# Timedelta function demonstration 
# https://www.geeksforgeeks.org/python-datetime-timedelta-function/
from datetime import datetime, timedelta 

# Using current time 
ini_time_for_now = datetime.now() 

# printing initial_date 
print ("initial_date", str(ini_time_for_now)) 

# Some another datetime 
new_final_time = ini_time_for_now + timedelta(days = 2) 

# printing new final_date 
print ("new_final_time", str(new_final_time)) 


# printing calculated past_dates 
print('Time difference:', str(new_final_time - ini_time_for_now))

initial_date 2020-03-18 20:45:24.983336
new_final_time 2020-03-20 20:45:24.983336
Time difference: 2 days, 0:00:00